node_modules

dist
packages/sdk-angular/projects/fusionauth-angular-sdk/src/sdkcore

yarn-error.log

.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/*
.idea/**/*.iml

.vscode

.eslintcache
packages/sdk-angular/.angular/cache
tsconfig.tsbuildinfo

test-results
playwright-report
blob-report
playwright/.cache
